server {
    listen       80;
    listen       443 ssl;
    server_name  {{DOMAINS_HERE}};
    root         {vvv_path_to_site}/public_html;

    error_log    {vvv_path_to_site}/log/error.log;
    access_log   {vvv_path_to_site}/log/access.log;

    set          $upstream {upstream};

    include      /etc/nginx/nginx-wp-common.conf;

#   rewrite (.+)?(^wp-.*) /$2 last;
#   rewrite ^(.+)?/(wp-.*) /$2 last;
#   rewrite ^(.+)?/(wp-(content|admin|includes).*) /$2 last;
    rewrite ^(.+)?\/(wp-(content(?!\.css)|admin|includes).*) /$2 last;
    rewrite ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 last;

#   ssl on;
#   ssl_certificate {vvv_path_to_site}/provision/ssl/themaxchallenge.com.cert;
#   ssl_certificate_key {vvv_path_to_site}/provision/ssl/themaxchallenge.com.key;
}
